<style>
    .note {
        text-align: center;
        margin-top: 85px;
    }

    .form {
        background-color: #b3d1f05e;
        height: 150px;
        width: 700px;
        margin-left: 215px;
        border: dotted #60cad5 1px;
        border-radius: 15px;

    }

    #f {
        border: dotted #60cad5 1px;
        width: 700px;
        margin-left: 215px;
        text-align: center;
        border-radius: 15px;
    }

    #upload{
    display:none
}
</style>


  


<div class="note">

    <h1>Please upload your Green Form</h1>
</div>
<br>
<div class="form">
    <img style="margin-left:80px ;" src="/img/Upload.png" height="150px" width="150px" alt="">
    <div style="margin-left:230px; margin-top:-75px;">
        <h4>Select files</h4>
        <h6>Drop files here or click<input id="upload" type="file"/><a id="upload_link" style="color: #4df02d;" href="">Click</a> thorough your machine</h6>
    </div>

</div>
<br>
<div id="f" class="row">
    <div class="col-6">
        <br>
        <h2>Choice primary lang</h2>
        <div style="margin-right:190px;">
            <input type="checkbox" class="form-check-input">
            <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">English</label>
        </div>
        <div style="margin-right:190px;">
            <input type="checkbox" class="form-check-input">
            <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Spanish</label>
        </div>

    </div>

    <div class="col-6">
        <br>

        <h2>Choice translate lang </h2>
        <div style="margin-right:190px;">
            <input type="checkbox" class="form-check-input">
            <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Farsi</label>
        </div>
        <div style="margin-right:190px;">
            <input type="checkbox" class="form-check-input">
            <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Spanish</label>
        </div>
        <div style="margin-right:190px;">
            <input type="checkbox" class="form-check-input">
            <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Arabic</label>
        </div>
        

    </div>

</div>
<br>
<div style="text-align: center;">
    <a href="/home/newformrequeststep2" class="btn btn-success" >Next <span>-></span></a>
</div>